    <form>
    <div>
        <input id="inputNome" type="text" placeholder="Nome" formControlName="nome"> 
    </div>
     <div *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
        Nome obrigatório
    </div>
    <div>
        <input id="inputTelefone" type="text" placeholder="Telefone" fo>    
    </div>
    <div>
        <input id="inputEmail" type="email" placeholder="Email">
    </div>
    <div>
        <input id="inputSenha" type="password" placeholder="Senha">
    </div>
    <div>
        <input id="inputAssunto" type="text" placeholder="Contato">
    </div>
    <div>
        <label for="inputMensagem">Mensagem</label>
    </div>
    <div>
        <textarea id="inputMensagem" rows="3" cols="60"> Digite aqui sua mensagem...</textarea>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>