<head>
</head>
<body>
  <div class="cabecalhoNav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contato">Contato</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="btnLogin">
          <button class="btn btn-danger my-2 my-sm-0" [disabled]="!existeToken()" type="button" (click)="logout();">Logout</button>
        </form>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>        
</body>
<footer>
  <p>
    email: luis.mallmann@gmail.com<br>
    LinkedIn: https://www.linkedin.com/in/luismallmann<br>
    GitHub: https://github.com/luismallmann><br>
    WhastApp: +55 49 99950-8024
  </p>
</footer>
